#hello {
	color: blue;
}

.record {
	background-color: inherit;
}

td {
	text-align: center;
	padding: 5px;
	border: 1px solid;
}

.toggle {
	display: none;
}

ol {
	list-style-type: none;
}

th {
	padding-left: 5px;
	padding-right: 5px;
}

p {
	font-size: 22px;
	margin: 10px;
}

table {
	margin: auto;
	margin-top: 20px;
}


