#hello {
	color: blue;
}

.record {
	background-color: inherit;
}

td {
	text-align: center;
	padding: 5px;
	border: 1px solid;
}

.toggle {
	display: none;
}

ol {
	list-style-type: none;
}

th {
	padding-left: 5px;
	padding-right: 5px;
}

.score-info {
	font-size: 22px;
	margin: 10px;
}

table {
	margin: auto;
	margin-top: 20px;
}
#navigation-pages {
	margin: auto 20px;;
}

#navigation-pages > a > button {
	margin-left: 20px;
	margin-top: 5px;
	width: 50px;
}

.selected > button {
	background-color: fuchsia;
}

.error {
	font-size: 20px;
	margin: auto;
	margin-top: 50px;
	margin-left: 50px;
}


